:root {
  --green: #00FF57;
}

* {
  font-family: 'Fira Code', monospace;
}

body {
  color: white;
  background-color: black;
  width: 100%;
  max-width: 800px;
  margin: auto;
}

.cover {
  width: 100%;
  max-width: 800px;
}

.cover-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  padding: 1rem;
}

section h1 {
  padding-left: 10px;
  border-left: 2px solid var(--green);
}

section h1 a {
  color: inherit;
  text-decoration: none;
}

span {
  color: var(--green);
}

li {
  margin: 10px 0;
}

section a,
.link {
  color: var(--green);
  text-decoration: underline var(--green);
}

.language {
  background-color: var(--green);
  color: black;
  font-size: 0.7rem;
  padding: 2px 5px;
}